body{
    background-image: url(img/estrella.jpg);
    font-family: cursive; 
}

button{
    background-color: aqua;
    margin: 25px;
}
button:hover{
    background-color: antiquewhite;
    padding: 20px;
    border: 3px solid yellow;
    font-size: 25px;
    color: fuchsia;
}


 

#salida {
    height: 30px;
   
}
